.wrapper-left .barabaka-photo, .wrapper-left .barabaka-link {
    float: left;
}
.wrapper-right .barabaka-photo, .wrapper-right .barabaka-link {
    float: right;
}
.wrapper-left .barabaka-link {
    margin-left: 10px;
}
.wrapper-right .barabaka-link {
    margin-right: 10px;
}
.barabaka-photo img {
    max-width: 100%;
    height:auto;
}